{% extends "base.html.twig" %}

{% block title %}
	Recherche
{% endblock %}

{% block body %}

	{% if results|length > 0  %}
		<div class="row">
			{% for result in results %}
				{{ include("card/card.html.twig") }}
			{% endfor %}
		</div>
	{% else %}
		<p>Aucun résultat trouvé.</p>
	{% endif %}

{% endblock %}
