<form class="d-inline" method="post" action="{{ path('service_delete', {'id': service.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet enregistrement?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
	{{ include('_btn/_btn-delete.html.twig') }}
</form>
