{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau service
{% endblock %}

{% block body %}
	<h3>Créer un nouveau service</h3>
	{{ include('service/_form.html.twig') }}
	<p class="my-2">
		{{ include('_btn/_btn-back.html.twig', {path:'service_category_index'}) }}
	</p>
{% endblock %}
