body{
    overflow-x: hidden;
}

.wide_bar {
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
}












#header{
    position: relative;
}
#side-bar {
    position: absolute;
    width: 310px;
    height: 100%;
    transition: .5s ease-out;
    z-index: 5;
    right: -310px;
    display: none;
}
#menu {
    display: none;
}
#side-bar form {
    width: 250px;
}
.toggle-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 326px;
}

.toggle-button span {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: #fff;
    display: block;
    transition: 0.5s ease;
}

.toggle-button span:nth-child(1) {
    margin-bottom: 5px;
}

.toggle-button span:nth-child(2) {
    margin-bottom: 5px;
}
#header.active #menu {
    display: inherit;
}
#header.active {
    position: initial !important;
}
#header.active #side-bar {
    right: 0;
}
#header.active span {
    position: absolute;
    width: 25px;
    top: -3px;
    margin-bottom: 0;
    left: 25px;
}
#header.active span:nth-child(1) {
    transform: rotate(45deg);
}
#header.active span:nth-child(2) {
    opacity: 0;
}
#header.active span:nth-child(3) {
    transform: rotate(-45deg);
}
#nav.active ~ #content{
    opacity: 0.5;
    transition: .5s ease;
}
#header.active #navbar-lg {
    opacity: 0.5;
    transition: .5s ease;
}
#content {
    transition: .5s ease;
    margin-top: 60px;
}
.input-group > .form-control:focus, .input-group > .form-select:focus {
    z-index: 0;
}
@media all and (max-width: 991px) {
    #navbar-lg div:nth-child(1n+2){
        display: none !important;
    }
}
@media all and (min-width: 992px) {
    #toggle-button{
        display: none !important;
    }
}
@media all and (max-width: 575px) {
    #side-bar{
        width: 200px;
    }
    #header.active span {
       display: none;
    }
    #side-bar form {
        width: 200px;
    }
    #header.active .toggle-button {
        right: 200px;
    }
}

/* .nav {
    position: fixed;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
}

#content {
    margin-top: 60px;
} */