{% extends 'base.html.twig' %}

{% block body %}
	<h3>Récapitulatif de votre commande</h3>
	{% for item in purchase.purchaseItems %}
		<div class="bg-light rounded-4 my-3 p-3">
			<h5>{{item.itemName}}</h5>
			<p>Prix :
				{{item.itemPrice}}
				€</p>
			<p>Quantité :
				{{item.quantity}}</p>
			<p class="mb-0">Total :
				{{item.total}}
				€</p>
		</div>
	{% endfor %}
{% endblock %}
