footer {
    a,
    p {
        color: white;
    }
    a:hover {
        color: #a8c5ff;
    }
    .input-group > .form-control:focus, .input-group > .form-select:focus {
        z-index: inherit;
    }
    .input-group-text {
        padding: .49rem .75rem !important;
    }
}
