<div class="col-lg-3 " style="float:left">
	<div class="card collection-card border-0 m-0">
		<div>
			<img src="{{i.mainPicture}}" class="img-fluid rounded" style="height: 250px; width: 200px;" alt=""><br>
			<caption>{{i.name}}</caption>
		</div>
	</div>
</div>
