<div style="max-width: 186px" class="mx-md-2 mx-xl-0">
	<img src="{{i.mainPicture}}" class="img-fluid rounded-4 d-block" style="" alt="image"><br>
	<p class="d-none d-sm-block">{{i.name|u.truncate(17, '')}}</p>
</div>
